<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<parameter name="text" value="vijay" />
<parameter name="subject" value="tomar" />
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="handelingWindows.PracticeTestng">
     
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
